.footer{
    background-color: blue;
    color: aliceblue;
}
header{
    position: fixed;
    height: 50px;
    background-color: blue;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
body{
    margin:0px;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a.logo{
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-left:20px;
    text-align:left;
    color:#ECF0F1;
    display:inline
}
.search{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    display:inline;
    border-radius: 20px;
    width: 300px;
    height: 30px;
}
p{
    margin: 0;
}
.card{
    margin-top: 10px;
    margin-left: 10px;
    border:1px;
    border-style: solid;
    height: 300px;
    width: 320px;
    padding-left: 20px;
    padding-top: 20px;
    display: inline-block;
}
.card:hover{
    background-color: aliceblue;
 }


ul{
    padding: 0;
    background: rgb(48, 48, 48);
    margin-top: 60px;
    list-style-type: none; 
    height: 100%;
    position:fixed; 
    overflow: auto; 
    
}


li{
    padding: auto;
    text-decoration: none;
}

a {
    text-decoration: none;
    
}
li{ 
    color: black;
    padding: 10px;
}
li:hover{
    background-color: rgb(63, 63, 63);
    
    color: white;
    
}

.icerik{
    margin-top: 80px;
    margin-left: 200px;
}